body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
  color: #004261;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  padding-left: 1ch;
  margin-right: 10px;
}
select {
  padding-left: 1ch;
  margin-right: 10px;
}

button {
  cursor: pointer;
  width: 60px;
  background-color: #ffbb00;
  color: aliceblue;
  font-weight: bold;
  border: none;
}
button:hover {
  background-color: #006a9b;
}
